@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.n{
    height : 75px ; 
    background-color: #f5ba13;
    width:100% ;
    position:relative;
    display: flex;
  align-items: center;
  box-shadow: 0px 4px 17px -8px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 4px 17px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 17px -8px rgba(0,0,0,0.75);
}
.brand{
    color: white;
    font-size: 30px;
    font-family: 'McLaren', cursive;
    position: absolute;
    left:30px;
}
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  .note{
      height: 80px;
      width:250px ; 
      margin-top: 20px;
      font-size: 20px;
      border-radius: 12px;
      box-shadow: -5px 3px 20px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: -5px 3px 20px -6px rgba(0,0,0,0.75);
-moz-box-shadow: -5px 3px 20px -6px rgba(0,0,0,0.75);
margin-left: 30px;
  }

  .title{
      font-size:  1em;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      margin-left: 10px;
      margin-bottom: 6px;
      padding-top: 4px;
     

  }
  .content{
      font-size: 20px;
      margin-left: 10px;
      font-family: 'Montserrat', sans-serif;
  }
  .foot{
      position: fixed;
      bottom: 40px;
      left: 0;
      width:100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }